# Strawberry Ignoring files

## All profile pictures
profile-pictures/*

## dev files
assets/css/*.sass
assets/css/*.css.map
.brackets.json
db_modifs.txt

## Beta code
generate_keys.php
functions/db_connect.php
test.php
