# Strawberry Ignoring files
## All profile pictures
profile-pictures/*
profile-banners/*
!profile-pictures/default-pp.png

## dev files
assets/css/*.css
assets/css/*.css.map
.brackets.json
db_modifs.txt

## Beta code
generate_keys.php
functions/db_connect.php
test.php
