# Strawberry Ignoring files
## All profile pictures
profile-pictures/*
profile-banners/*
!profile-pictures/default-pp.png

## dev files
!assets/css/croppie.css
assets/css/*.css.map
assets/css/*.sass
assets/css/common.css
assets/js/tools.js
assets/js/box.js
assets/js/chat.js
assets/js/badges.js
.brackets.json
db_modifs.txt
.htaccess
vendor

## Beta code
generate_keys.php
functions/db_connect.php
test.php
