Options -MultiViews
RewriteEngine On
#Header set Access-Control-Allow-Origin "*"
DirectoryIndex home.php
RewriteRule ^box/([A-Za-z0-9-]+)/?$ box.php?id=$1 [NC,L] # Display room pages
RewriteRule ^user/([A-Za-z0-9-]+)/?$ public_profile.php?id=$1 [NC,L] # Display user pages
# 1 argument
RewriteRule ^home$ home.php [NC,L] # Display home
RewriteRule ^create$ create_room.php [NC,L] # Room creation
RewriteRule ^portal$ portal.php [NC,L] # Portal
RewriteRule ^signup$ signup.php [NC,L] # Signup
RewriteRule ^follow$ follow.php [NC,L] # Follow page
RewriteRule ^search$ search.php [NC,L] # Search results page
# sub-pages
RewriteRule ^profile/settings$ profile.php [NC,L] # Profile
RewriteRule ^profile/history$ history.php [NC,L] # Profile
RewriteRule ^profile/security$ security.php [NC,L] # Profile
RewriteRule ^my/likes$ likes.php [NC,L] # Profile

#Erreurs
ErrorDocument 404 /404.php

#Maintenance ON
#RewriteCond %{REQUEST_URI} !/maintenance.php$
#RewriteCond %{REMOTE_ADDR} !^89\.2\.165\.74
#RewriteRule !^(assets|bootstrap|functions)($|/) /maintenance.php [R=302,NC,L] # Display maintenance page
#Maintnance OFF
RewriteRule ^(maintenance)$ /home [R=302,NC,L] # Display home
RewriteRule ^(maintenance.php)$ /home [R=302,NC,L] # Display home
