.player {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #BF0404;
	height: 67%;
	width: 100%;
}

.main {
	margin-top: 50px;
}

.panel-chat {
	height: inherit;
	padding: 0 !important;
	margin: 0 !important;
}

.chat-room {
	text-align: center;
}

.message-time{
	color: #B5B5B5;
}

.message-author{
	font-weight: 900;
}

.room-dj {
	font-weight: 700;
}

.body-chat {
	overflow-y: scroll;
	height: 83.7vh;
}

.room-title {
	font-size: 32px;
	margin-bottom: 5px;
}

.user-room {
	font-weight: 800;
}

#room-player {
	margin-left: none;
	padding-top: 20px;
}

#room-chat {
	padding-right: 0;
	height: 100vh;
}

.footer-chat {
	position: absolute;
	bottom: 0;
}

.room-creator {
	font-size: 18px;
}

#active-rooms-title {
	font-size: 24px;
	text-align: center;
}
