/** MOOD COLORS **/
/** @font-face
	font-family: 'geometria_lightlight'
	src: url('../fonts/Geometria-Light-webfont.eot')
	src: url('../fonts/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype')
	src: url('../fonts/Geometria-Light-webfont.woff2') format('woff2')
	src: url('../fonts/Geometria-Light-webfont.woff') format('woff')
	src: url('../fonts/Geometria-Light-webfont.ttf') format('truetype')
	src: url('../fonts/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
	font-weight: normal
	font-style: normal **/
/** Display fixes **/
/* line 47, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.no-margin {
  margin: 0 !important; }

/* line 50, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.no-padding {
  padding: 0 !important; }

/* line 53, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.no-border {
  border: none; }

/* line 56, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
textarea {
  resize: none; }

/* line 59, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
option {
  background-color: inherit;
  color: black; }

/* line 63, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
legend {
  font-family: 'geometria_lightlight';
  font-weight: 800; }

/** Panels **/
/* line 68, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.panel-room {
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  height: inherit; }
  /* line 74, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .panel-room .panel-heading {
    color: #cf9930; }

/* line 77, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.full-panel {
  padding-right: 0;
  position: absolute;
  height: 100vh;
  z-index: 2;
  display: none; }
  @media screen and (max-width: 360px) {
    /* line 77, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .full-panel {
      padding-left: 0 !important;
      left: 0;
      margin-top: 30px; } }

/* line 88, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#room-chat {
  z-index: 3;
  padding-right: 0; }
  @media screen and (min-width: 1200px) {
    /* line 88, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    #room-chat {
      height: 100vh; } }
  @media screen and (max-width: 360px) {
    /* line 88, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    #room-chat {
      padding-left: 0 !important; } }

/* line 96, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.full-panel-body {
  height: 90.2vh;
  white-space: nowrap;
  overflow-y: scroll; }

/* line 101, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#body-chat {
  height: 85.2vh;
  font-size: 12.5px;
  overflow-y: scroll;
  overflow-wrap: break-word; }
  @media screen and (max-width: 360px) {
    /* line 101, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    #body-chat {
      height: 30.2vh; } }

/* line 109, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#body-options-list {
  height: 95.8vh;
  overflow-y: scroll; }

/* line 113, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.button-glyph {
  cursor: pointer;
  text-align: center; }

/* line 117, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.panel-heading, .panel-footer {
  background-color: inherit !important; }

/* line 120, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.panel-section {
  padding-bottom: 0; }

/****/
/* line 124, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.main-maintenance {
  margin-top: 150px; }

/* line 127, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#player {
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    /* line 127, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    #player {
      padding: 0;
      height: inherit; } }

/** System Messages **/
/* line 135, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.system-message {
  color: #888888;
  font-style: italic;
  font-weight: 500; }

/* line 140, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.system-warning {
  color: #F0AD4E;
  font-weight: 600; }

/* line 144, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.system-alert, .sm-type-close {
  color: #D61B1B;
  font-weight: 700; }

/* line 148, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.system-success, .sm-type-open {
  color: #87CE77;
  font-weight: 600; }

/* line 152, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.sm-type-play {
  color: #7DB8E0; }

/* line 155, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.sm-type-skip {
  color: #D08AC3; }

/* line 158, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.form-control, .input-group-addon {
  background-color: inherit;
  border: 1px solid #444;
  color: inherit; }

/* line 163, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#room-player {
  padding-top: 14px;
  padding-right: 0 !important; }
  @media screen and (min-width: 768px) {
    /* line 163, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    #room-player {
      height: 100vh; } }
  @media screen and (max-width: 360px) {
    /* line 163, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    #room-player {
      padding-left: 0 !important; } }

/* line 171, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-info {
  white-space: nowrap; }

/** Profile pictures **/
/* line 175, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-picture {
  height: 55px !important;
  width: 55px !important;
  border-radius: 27.5px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left;
  margin-right: 10px; }

/* line 180, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-profile-picture {
  float: left;
  height: 50px !important;
  width: 50px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin-right: 10px; }
  @media screen and (min-width: 768px) {
    /* line 180, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .user-profile-picture {
      height: 150px !important;
      width: 150px !important;
      border-radius: 75px !important;
      overflow: hidden !important;
      padding: 0 !important; } }

/* line 187, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.menu-pp {
  height: 50px !important;
  width: 50px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left;
  margin-right: 20px; }

/* line 192, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.small-pp {
  height: 35px !important;
  width: 35px !important;
  border-radius: 17.5px !important;
  overflow: hidden !important;
  padding: 0 !important; }

/* line 195, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.medium-pp {
  height: 60px !important;
  width: 60px !important;
  border-radius: 30px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left;
  margin-right: 20px; }
  @media screen and (max-width: 360px) {
    /* line 195, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .medium-pp {
      height: 30px !important;
      width: 30px !important;
      border-radius: 15px !important;
      overflow: hidden !important;
      padding: 0 !important; } }

/* line 202, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-pp {
  height: 50px !important;
  width: 50px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  padding: 0 !important;
  float: left;
  margin-left: 10px;
  margin-right: 20px; }

/* line 208, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.search-user-pp {
  height: 120px !important;
  width: 120px !important;
  border-radius: 60px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 auto; }

/* line 212, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#profile-picture-sample {
  height: 120px !important;
  width: 120px !important;
  border-radius: 60px !important;
  overflow: hidden !important;
  padding: 0 !important;
  border: 2px solid #444 !important;
  text-align: inherit; }

/* line 219, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#avatar-container .file-input .file-preview {
  height: 120px !important;
  width: 120px !important;
  border-radius: 60px !important;
  overflow: hidden !important;
  padding: 0 !important; }

/* line 222, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.file-preview-frame {
  width: 120px !important;
  padding: 0 !important; }

/* line 226, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.profile-picture {
  width: inherit; }

/* line 230, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#banner .file-preview-frame {
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  width: 100% !important; }

@media screen and (max-width: 768px) {
  /* line 237, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  #banner .file-preview-frame img {
    margin-top: -30%; }
  /* line 240, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  #banner .file-preview-frame .file-default-preview img {
    margin-top: -30%; } }

/** Room info **/
/* line 244, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#room-title {
  font-size: 22px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 250, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#room-undertitle {
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 254, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.creator-stats {
  font-size: 16px;
  text-align: right; }

/** Chat **/
/* line 259, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.whisper {
  margin-left: -15px;
  margin-right: -15px;
  border-left: 5px #cf9930 solid;
  background-color: #D5D5D5;
  color: black;
  padding: 3px 0 1px 10px; }
  /* line 266, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .whisper .message-time {
    color: inherit; }

/* line 269, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.message-author {
  font-weight: 700;
  cursor: pointer; }

/* line 273, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.tip, .message-time {
  color: #888888; }

/* line 276, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.chat-emote {
  margin-bottom: 0 !important;
  height: 30px; }

/* line 280, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.chat-icon {
  width: 18px;
  height: 18px; }
  /* line 283, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .chat-icon img {
    width: inherit;
    margin-bottom: 2px; }

/* line 287, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.standard-message {
  margin-bottom: 5px; }

/** Playlist **/
/* line 291, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.list-rank {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
  color: #888888; }

/* line 297, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.song-list-line {
  text-overflow: ellipsis;
  overflow: hidden; }

/* line 301, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.song-playing {
  font-weight: 900; }

/* line 304, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.song-ignored > div > p > a {
  color: #D9534F; }

/* line 307, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.moderation-option {
  color: #888888;
  cursor: pointer; }

/** User menu **/
/* line 312, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#user-name {
  font-size: 18px;
  line-height: 50px;
  font-weight: 700; }

/** Buttons **/
/* line 318, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.btn-switch.disabled {
  background-color: inherit;
  color: #e2c283;
  border: dashed 1px;
  cursor: pointer; }

/* line 324, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.btn {
  background-color: inherit; }

/* line 327, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.btn-success.feedback {
  background-color: #449d44 !important; }

/* line 330, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.btn-active {
  background-color: #cf9930 !important;
  color: white !important; }

/* line 335, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
nav .btn {
  margin-top: 10px;
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

/* line 339, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
nav li > a.btn:hover, nav li > a.btn:focus {
  background-color: #a67a26 !important; }

/* line 341, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
nav li > a:hover, nav li > a:focus {
  background-color: inherit !important; }

@media screen and (min-width: 768px) {
  /* line 344, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .navbar-header {
    float: left; } }

/* line 347, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.navbar-right {
  float: right; }

/* line 350, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.icon-bar {
  background-color: #cf9930; }

@media screen and (min-width: 768px) {
  /* line 354, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .nav li {
    float: left; } }

/* line 357, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.nav li > a:hover, .nav li > a:focus {
  background-color: inherit !important; }

/* line 360, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.jumbotron {
  text-align: center; }

/* line 363, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.jumbotron-home {
  background-color: #e6e6e6;
  width: 100%;
  border-radius: 0;
  margin-top: -30px; }
  /* line 368, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .jumbotron-home h1 {
    font-family: 'geometria_lightlight';
    font-weight: 800; }
  /* line 371, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .jumbotron-home h2 {
    font-family: 'geometria_lightlight';
    font-weight: 500;
    margin-bottom: 20px; }

/* line 376, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.social-space {
  align-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 50px 0; }
  /* line 381, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .social-space div > p {
    font-size: 32px; }
  /* line 383, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .social-space .btn {
    background-color: #cf9930;
    color: white; }
  /* line 386, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .social-space .btn:hover, .social-space .btn:focus {
    background-color: #a67a26; }

/* line 389, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.category-display {
  margin-bottom: 50px; }
  /* line 391, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .category-display h1 {
    font-family: 'geometria_lightlight';
    font-weight: 800;
    padding-left: 50px; }

/* line 396, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.color-cube {
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer; }

/* line 401, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#colors {
  text-align: center; }

/* line 404, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-option {
  margin-bottom: 20px; }

/* line 407, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.bootstrap-switch-dark {
  color: #FFFFFF;
  background-color: #000000; }

/* line 411, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.bootstrap-switch-light {
  color: #000;
  background-color: #FFF; }

/* line 415, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.page-title {
  margin-bottom: 50px; }

/* line 418, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#profile-title {
  font-size: 30px;
  margin: 0; }

/* line 422, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#profile-menu {
  margin-top: 20px; }

/* line 425, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-quick-messages {
  text-align: center;
  padding-top: 5px; }

/* line 429, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.label-status {
  font-size: 20px; }

/* line 432, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.label-block {
  display: block;
  width: 100%; }

/** Menu popover **/
/* line 437, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.popover-trigger {
  padding-top: 7px !important;
  padding-bottom: 0 !important; }

/* line 441, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-menu-name {
  font-size: 17px;
  font-weight: 700; }

/* line 445, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-name {
  font-size: 22px;
  margin-bottom: 20px; }

/* line 449, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-thumbnail {
  margin-bottom: 15px; }
  /* line 451, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .room-thumbnail img {
    display: block;
    width: 100%;
    height: inherit;
    margin: 0 auto; }
  /* line 456, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .room-thumbnail p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

/* line 461, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#current-play {
  font-weight: 700;
  color: #87CE77; }

/* line 465, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#previous-play {
  font-style: italic;
  color: #999999; }

/* line 469, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-details {
  font-size: 14px; }
  /* line 471, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .room-details .room-creator {
    font-size: 1.4em; }
  /* line 473, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .room-details .room-type {
    font-size: 1.3em; }

/* line 476, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-label {
  margin-top: -5px; }

/* line 479, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-description {
  min-height: 80px; }

/* line 482, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
legend {
  font-size: 3em;
  border: 0;
  color: inherit;
  text-align: center; }

/* line 488, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-card {
  border: 1px solid #888888;
  margin-bottom: 10px;
  font-size: 1.2em; }
  /* line 492, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .user-card .user-card-info {
    padding: 10px; }
    /* line 494, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .user-card .user-card-info #user-card-name {
      font-size: 1.5em; }
    /* line 496, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .user-card .user-card-info #user-card-close {
      float: right; }
    /* line 498, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .user-card .user-card-info .user-card-stats > div {
      padding-left: 0 !important; }
  /* line 500, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .user-card .user-card-actions {
    padding: 10px; }
    /* line 502, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .user-card .user-card-actions .btn {
      margin-left: 5px; }

/* line 505, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.label-lang {
  background-color: #e416a1; }

/* line 508, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.option-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px; }

/** Nav **/
/* line 514, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.navbar-brand {
  font-family: 'geometria_lightlight';
  font-size: 20px;
  font-weight: 800;
  padding-left: 0; }
  @media screen and (max-width: 360px) {
    /* line 514, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .navbar-brand {
      line-height: inherit; } }

/* line 522, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.search-input {
  border-left: none;
  padding-left: 0; }

/* line 526, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.room-brand {
  font-family: 'geometria_lightlight';
  text-align: center;
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 15px; }
  /* line 532, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .room-brand a {
    text-decoration: none; }

/* line 535, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.maintenance-brand {
  font-size: 100px;
  font-family: 'geometria_lightlight';
  text-align: center;
  font-weight: 800;
  margin-bottom: 15px;
  color: #cf9930; }

/* line 543, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.alert-message {
  font-size: 18px;
  text-align: center; }

/** User page **/
/* line 548, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-profile-container {
  min-height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7); }
  @media screen and (max-width: 360px) {
    /* line 548, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .user-profile-container {
      padding: 30px 0; } }

/* line 560, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.stats-title {
  font-size: 14px; }

/* line 563, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.stats-value {
  padding-left: 20px;
  font-size: 22px;
  color: #cf9930; }

/* line 568, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-profile-name {
  font-size: 28px; }

/* line 571, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-profile-bio {
  font-style: italic; }

/* line 574, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-actions {
  float: right; }
  /* line 576, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .user-actions .file-preview {
    display: none; }

/* line 579, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.banner-container {
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-top: -30px;
  margin-bottom: 20px; }
  /* line 585, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .banner-container img {
    width: 100%; }
  @media screen and (max-width: 360px) {
    /* line 579, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .banner-container {
      height: 44.6%; } }

/** 404 **/
/* line 591, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#not-found-title {
  font-size: 120px;
  text-align: center; }

/* line 594, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#not-found-message, .closed-box-text {
  text-align: center;
  font-size: 50px;
  font-family: 'geometria_lightlight'; }

/* line 599, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.closed-box-text {
  display: none; }

/** No credentials on box **/
/* line 604, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#no-credentials {
  font-size: 20px;
  text-align: center; }
  /* line 607, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  #no-credentials form {
    display: inline; }

/** SEARCH **/
/* line 611, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.search-matching-title {
  font-size: 21px; }

/* line 614, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.user-entry {
  text-align: center;
  padding: 30px 15px 30px 15px;
  border-radius: 5px; }
  /* line 618, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .user-entry a:hover {
    text-decoration: none; }

/* line 621, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.box-entry {
  padding: 30px;
  border-radius: 5px;
  cursor: pointer; }
  @media screen and (max-width: 360px) {
    /* line 621, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
    .box-entry {
      padding: 5px; } }

/* line 628, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.search-bio {
  margin-bottom: 10px; }

/* line 631, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.menu-logo {
  text-align: center;
  margin: 20px;
  height: 40px; }
  /* line 635, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .menu-logo img {
    height: inherit; }

/* line 641, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.footer {
  padding: 50px 0;
  margin-top: 100px;
  color: #888888; }

/* line 646, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.footer-logo {
  width: 50px;
  float: left;
  margin-right: 20px; }

/* line 651, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.footer-brand {
  font-family: 'geometria_lightlight';
  font-size: 26px;
  margin-bottom: 0; }

/* line 657, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#footer-options li {
  display: inline;
  padding: 0 10px; }
  /* line 660, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  #footer-options li:nth-child(1) {
    padding-left: 0; }

/* line 663, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.submit-warning {
  font-size: 1.2em;
  margin-left: 20px; }

@media screen and (max-width: 360px) {
  /* line 667, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .panel-box-container {
    padding-left: 0;
    padding-right: 0; } }

/* line 673, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.panel-box .panel-footer {
  padding: 10px 0;
  margin: 0; }

/* line 678, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-like {
  color: #494AFF; }

/* line 681, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-cry {
  color: #60E5FF; }

/* line 684, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-love {
  color: #FF2921; }

/* line 687, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-energy {
  color: #FF7000; }

/* line 690, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-calm {
  color: #B694CC; }

/* line 693, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-fear {
  color: #888; }

/* line 696, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
.emotion-container {
  border-radius: 7px;
  cursor: pointer; }
  /* line 699, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .emotion-container p {
    margin: 10px; }
  /* line 702, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .emotion-container.selected p {
    color: white; }
  /* line 705, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
  .emotion-container:hover p {
    color: white; }

/* line 709, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-like-container:hover {
  background-color: #7c7dff; }

/* line 711, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-like-container.selected {
  background-color: #494AFF; }

/* line 715, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-cry-container:hover {
  background-color: #93edff; }

/* line 717, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-cry-container.selected {
  background-color: #60E5FF; }

/* line 721, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-love-container:hover {
  background-color: #ff5a54; }

/* line 723, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-love-container.selected {
  background-color: #FF2921; }

/* line 727, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-calm-container:hover {
  background-color: #ceb7dc; }

/* line 729, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-calm-container.selected {
  background-color: #B694CC; }

/* line 733, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-energy-container:hover {
  background-color: #ff8d33; }

/* line 735, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-energy-container.selected {
  background-color: #FF7000; }

/* line 739, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-fear-container:hover {
  background-color: #a2a2a2; }

/* line 741, C:/xampp/htdocs/Berrybox/assets/css/common.sass */
#emotion-fear-container.selected {
  background-color: #888; }

/*# sourceMappingURL=common.css.map */