.navbar{
	border-bottom: 1px solid #BF0404 !important;
	border: none;
}

.player {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #BF0404;
	height: 50px;
	width: 100%;
}

.main {
	margin-top: 50px;
}

.panel-chat {
	padding-right: 0 ! important;
}



.chat-room {
	text-align: center;
}

.room-dj {
	font-weight: 700;
}

.body-chat {
	overflow-y: scroll;
	min-height: 64.2%;
	max-height: 64.2%;
}

.message-author{
	font-weight: 600;
	color: aqua;
}
